form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

input,
select {
	margin-top: 5px;
	outline: none;
	padding: 10px;
	border-radius: 8px;
	border: none;
}

button {
	margin-top: 20px;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
	background-color: #007bff;
	color: white;
}

label {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	cursor: pointer;
}

.checkbox-label {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	align-items: center;
}

.checkbox-label label {
	margin: 0;
}

p {
	margin: 1.5rem 0 5px 0;
	color: turquoise;
	font-weight: bold;
}

span,
.error-message {
	color: red;
	margin-top: 5px;
}

.has-error {
	box-shadow: 0 0 6px 1px red;
}
